.formContainer {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.InputWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.LoginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: 500;
  }
      
.LoginButtonWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.LoginButton {
    align-self: center;
    height: 35px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonLink {
    margin-top: 1rem;
    align-self: center;
    width: 80%;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ButtonLink:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.jobList {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.job-item {
    display: flex;
    flex-direction: column;
}
.job-info {
    display: block;
    justify-content: space-between;
    align-items: center;
    border: 2px black;
    padding: 1.5rem 1rem;
    margin: 0 2rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    
}

.job-info:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.job-info-detail {
    padding: 0 2rem;
    overflow-y: scroll;
    display: flex;
    font-size: 1rem;
}

.apply {
    margin: 1rem 5rem;
    align-self: end;
    width: auto;
}

.title {
    padding-right: 1rem;
    font-weight: bold;
    
}

.headerFilter {
    display: flex;
    justify-content: center;
}

.headerFilter div {
    margin: 1rem;
}

.header {
    display: flex;
    margin: 0;
    border-radius: 0;
}
.header:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd; 
}
.job-number {
    margin: 1rem;
}